.padding-right-5px {
    padding-right: 5px;
}

.padding-right-10px {
    padding-right: 10px;
}

.padding-right-15px {
    padding-right: 15px;
}

.padding-right-20px {
    padding-right: 20px;
}

.padding-right-25px {
    padding-right: 25px;
}

.padding-right-30px {
    padding-right: 30px;
}

.padding-right-35px {
    padding-right: 35px;
}

.padding-right-40px {
    padding-right: 40px;
}

.padding-right-45px {
    padding-right: 45px;
}

.padding-right-50px {
    padding-right: 50px;
}

.padding-right-55px {
    padding-right: 55px;
}

.padding-right-60px {
    padding-right: 60px;
}

.padding-right-65px {
    padding-right: 65px;
}

.padding-right-70px {
    padding-right: 70px;
}

.padding-right-75px {
    padding-right: 75px;
}

.padding-right-80px {
    padding-right: 80px;
}

.padding-right-85px {
    padding-right: 85px;
}

.padding-right-90px {
    padding-right: 90px;
}

.padding-right-95px {
    padding-right: 95px;
}

.padding-right-100px {
    padding-right: 100px;
}