.border-bottom-1px-solid-black {
    border-bottom: 1px solid black;
}

.border-bottom-2px-solid-black {
    border-bottom: 2px solid black;
}

.border-bottom-3px-solid-black {
    border-bottom: 3px solid black;
}

.border-bottom-4px-solid-black {
    border-bottom: 4px solid black;
}

.border-bottom-5px-solid-black {
    border-bottom: 5px solid black;
}

.border-bottom-6px-solid-black {
    border-bottom: 6px solid black;
}

.border-bottom-7px-solid-black {
    border-bottom: 7px solid black;
}

.border-bottom-8px-solid-black {
    border-bottom: 8px solid black;
}

.border-bottom-9px-solid-black {
    border-bottom: 9px solid black;
}

.border-bottom-10px-solid-black {
    border-bottom: 10px solid black;
}

.border-bottom-11px-solid-black {
    border-bottom: 11px solid black;
}

.border-bottom-12px-solid-black {
    border-bottom: 12px solid black;
}

.border-bottom-13px-solid-black {
    border-bottom: 13px solid black;
}

.border-bottom-14px-solid-black {
    border-bottom: 14px solid black;
}

.border-bottom-15px-solid-black {
    border-bottom: 15px solid black;
}

.border-bottom-16px-solid-black {
    border-bottom: 16px solid black;
}

.border-bottom-17px-solid-black {
    border-bottom: 17px solid black;
}

.border-bottom-18px-solid-black {
    border-bottom: 18px solid black;
}

.border-bottom-19px-solid-black {
    border-bottom: 19px solid black;
}

.border-bottom-20px-solid-black {
    border-bottom: 20px solid black;
}