.margin-5px {
    margin: 5px;
}

.margin-10px {
    margin: 10px;
}

.margin-15px {
    margin: 15px;
}

.margin-20px {
    margin: 20px;
}

.margin-25px {
    margin: 25px;
}

.margin-30px {
    margin: 30px;
}

.margin-35px {
    margin: 35px;
}

.margin-40px {
    margin: 40px;
}

.margin-45px {
    margin: 45px;
}

.margin-50px {
    margin: 50px;
}

.margin-55px {
    margin: 55px;
}

.margin-60px {
    margin: 60px;
}

.margin-65px {
    margin: 65px;
}

.margin-70px {
    margin: 70px;
}

.margin-75px {
    margin: 75px;
}

.margin-80px {
    margin: 80px;
}

.margin-85px {
    margin: 85px;
}

.margin-90px {
    margin: 90px;
}

.margin-95px {
    margin: 95px;
}

.margin-100px {
    margin: 100px;
}