.border-top-1px-solid-black {
    border-top: 1px solid black;
}

.border-top-2px-solid-black {
    border-top: 2px solid black;
}

.border-top-3px-solid-black {
    border-top: 3px solid black;
}

.border-top-4px-solid-black {
    border-top: 4px solid black;
}

.border-top-5px-solid-black {
    border-top: 5px solid black;
}

.border-top-6px-solid-black {
    border-top: 6px solid black;
}

.border-top-7px-solid-black {
    border-top: 7px solid black;
}

.border-top-8px-solid-black {
    border-top: 8px solid black;
}

.border-top-9px-solid-black {
    border-top: 9px solid black;
}

.border-top-10px-solid-black {
    border-top: 10px solid black;
}

.border-top-11px-solid-black {
    border-top: 11px solid black;
}

.border-top-12px-solid-black {
    border-top: 12px solid black;
}

.border-top-13px-solid-black {
    border-top: 13px solid black;
}

.border-top-14px-solid-black {
    border-top: 14px solid black;
}

.border-top-15px-solid-black {
    border-top: 15px solid black;
}

.border-top-16px-solid-black {
    border-top: 16px solid black;
}

.border-top-17px-solid-black {
    border-top: 17px solid black;
}

.border-top-18px-solid-black {
    border-top: 18px solid black;
}

.border-top-19px-solid-black {
    border-top: 19px solid black;
}

.border-top-20px-solid-black {
    border-top: 20px solid black;
}