.border-top-1px-solid-white {
    border-top: 1px solid white;
}

.border-top-2px-solid-white {
    border-top: 2px solid white;
}

.border-top-3px-solid-white {
    border-top: 3px solid white;
}

.border-top-4px-solid-white {
    border-top: 4px solid white;
}

.border-top-5px-solid-white {
    border-top: 5px solid white;
}

.border-top-6px-solid-white {
    border-top: 6px solid white;
}

.border-top-7px-solid-white {
    border-top: 7px solid white;
}

.border-top-8px-solid-white {
    border-top: 8px solid white;
}

.border-top-9px-solid-white {
    border-top: 9px solid white;
}

.border-top-10px-solid-white {
    border-top: 10px solid white;
}

.border-top-11px-solid-white {
    border-top: 11px solid white;
}

.border-top-12px-solid-white {
    border-top: 12px solid white;
}

.border-top-13px-solid-white {
    border-top: 13px solid white;
}

.border-top-14px-solid-white {
    border-top: 14px solid white;
}

.border-top-15px-solid-white {
    border-top: 15px solid white;
}

.border-top-16px-solid-white {
    border-top: 16px solid white;
}

.border-top-17px-solid-white {
    border-top: 17px solid white;
}

.border-top-18px-solid-white {
    border-top: 18px solid white;
}

.border-top-19px-solid-white {
    border-top: 19px solid white;
}

.border-top-20px-solid-white {
    border-top: 20px solid white;
}