.border-1px-solid-black {
    border: 1px solid black;
}

.border-2px-solid-black {
    border: 2px solid black;
}

.border-3px-solid-black {
    border: 3px solid black;
}

.border-4px-solid-black {
    border: 4px solid black;
}

.border-5px-solid-black {
    border: 5px solid black;
}

.border-6px-solid-black {
    border: 6px solid black;
}

.border-7px-solid-black {
    border: 7px solid black;
}

.border-8px-solid-black {
    border: 8px solid black;
}

.border-9px-solid-black {
    border: 9px solid black;
}

.border-10px-solid-black {
    border: 10px solid black;
}

.border-11px-solid-black {
    border: 11px solid black;
}

.border-12px-solid-black {
    border: 12px solid black;
}

.border-13px-solid-black {
    border: 13px solid black;
}

.border-14px-solid-black {
    border: 14px solid black;
}

.border-15px-solid-black {
    border: 15px solid black;
}

.border-16px-solid-black {
    border: 16px solid black;
}

.border-17px-solid-black {
    border: 17px solid black;
}

.border-18px-solid-black {
    border: 18px solid black;
}

.border-19px-solid-black {
    border: 19px solid black;
}

.border-20px-solid-black {
    border: 20px solid black;
}