.border-1px-solid-white {
    border: 1px solid white;
}

.border-2px-solid-white {
    border: 2px solid white;
}

.border-3px-solid-white {
    border: 3px solid white;
}

.border-4px-solid-white {
    border: 4px solid white;
}

.border-5px-solid-white {
    border: 5px solid white;
}

.border-6px-solid-white {
    border: 6px solid white;
}

.border-7px-solid-white {
    border: 7px solid white;
}

.border-8px-solid-white {
    border: 8px solid white;
}

.border-9px-solid-white {
    border: 9px solid white;
}

.border-10px-solid-white {
    border: 10px solid white;
}

.border-11px-solid-white {
    border: 11px solid white;
}

.border-12px-solid-white {
    border: 12px solid white;
}

.border-13px-solid-white {
    border: 13px solid white;
}

.border-14px-solid-white {
    border: 14px solid white;
}

.border-15px-solid-white {
    border: 15px solid white;
}

.border-16px-solid-white {
    border: 16px solid white;
}

.border-17px-solid-white {
    border: 17px solid white;
}

.border-18px-solid-white {
    border: 18px solid white;
}

.border-19px-solid-white {
    border: 19px solid white;
}

.border-20px-solid-white {
    border: 20px solid white;
}