.border-left-1px-solid-white {
    border-left: 1px solid white;
}

.border-left-2px-solid-white {
    border-left: 2px solid white;
}

.border-left-3px-solid-white {
    border-left: 3px solid white;
}

.border-left-4px-solid-white {
    border-left: 4px solid white;
}

.border-left-5px-solid-white {
    border-left: 5px solid white;
}

.border-left-6px-solid-white {
    border-left: 6px solid white;
}

.border-left-7px-solid-white {
    border-left: 7px solid white;
}

.border-left-8px-solid-white {
    border-left: 8px solid white;
}

.border-left-9px-solid-white {
    border-left: 9px solid white;
}

.border-left-10px-solid-white {
    border-left: 10px solid white;
}

.border-left-11px-solid-white {
    border-left: 11px solid white;
}

.border-left-12px-solid-white {
    border-left: 12px solid white;
}

.border-left-13px-solid-white {
    border-left: 13px solid white;
}

.border-left-14px-solid-white {
    border-left: 14px solid white;
}

.border-left-15px-solid-white {
    border-left: 15px solid white;
}

.border-left-16px-solid-white {
    border-left: 16px solid white;
}

.border-left-17px-solid-white {
    border-left: 17px solid white;
}

.border-left-18px-solid-white {
    border-left: 18px solid white;
}

.border-left-19px-solid-white {
    border-left: 19px solid white;
}

.border-left-20px-solid-white {
    border-left: 20px solid white;
}