.border-bottom-right-radius-5px {
    border-bottom-right-radius: 5px
}

.border-bottom-right-radius-10px {
    border-bottom-right-radius: 10px
}

.border-bottom-right-radius-15px {
    border-bottom-right-radius: 15px
}

.border-bottom-right-radius-20px {
    border-bottom-right-radius: 20px
}

.border-bottom-right-radius-25px {
    border-bottom-right-radius: 25px
}

.border-bottom-right-radius-30px {
    border-bottom-right-radius: 30px
}

.border-bottom-right-radius-35px {
    border-bottom-right-radius: 35px
}

.border-bottom-right-radius-40px {
    border-bottom-right-radius: 40px
}

.border-bottom-right-radius-45px {
    border-bottom-right-radius: 45px
}

.border-bottom-right-radius-50px {
    border-bottom-right-radius: 50px
}

.border-bottom-right-radius-55px {
    border-bottom-right-radius: 55px
}

.border-bottom-right-radius-60px {
    border-bottom-right-radius: 60px
}

.border-bottom-right-radius-65px {
    border-bottom-right-radius: 65px
}

.border-bottom-right-radius-70px {
    border-bottom-right-radius: 70px
}

.border-bottom-right-radius-75px {
    border-bottom-right-radius: 75px
}

.border-bottom-right-radius-80px {
    border-bottom-right-radius: 80px
}

.border-bottom-right-radius-85px {
    border-bottom-right-radius: 85px
}

.border-bottom-right-radius-90px {
    border-bottom-right-radius: 90px
}

.border-bottom-right-radius-95px {
    border-bottom-right-radius: 95px
}

.border-bottom-right-radius-100px {
    border-bottom-right-radius: 100px
}